{% extends 'base.html' %}

{% block content %}
<h1 class="ui header">Projetos em análise de resultados</h1>
<table id="example" style="text-align: center" class="ui celled table striped">
    <thead>
        <tr>
            <th>Pronac</th>
            <th>Complexidade</th>
            <th>Título</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                <button class="ui positive button">
                    {{ project.pronac }}
                </button>
            </td>
            <td>{{ project.complexity }}</td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.analist }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Pronac</th>
            <th>Complexidade</th>
            <th>Título</th>
            <th>Responsável</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "ordering": true,
            "searching": true,
            "paging": true,
            "info": true,
            //"dom": '<"top"f>rt<"bottom"><"clear">',
        });
    });
</script>
{% endblock %}