/*************************** 
 ****** Progress Bar *******
 ***************************/
.ui.pointing.below.label{
	color: #FFF!important;
	font-weight: normal!important;
	max-width: 5em!important;
	text-align: center!important;
}

.Metric-bad .ui.pointing.below.label{
	background-color: #db2828!important;
	color: #FFF!important;
}

.Metric-average .ui.pointing.below.label{
	background-color: #f2b01c!important;
	color: #FFF!important;
}

.ui.progress{
	margin: 0 auto!important;
} 

.ui.progress .bar > .progress{
	color: #FFF!important;
	left: 0!important;
	right: 0!important;
	text-align: center!important;
}

.Metric-text-color {
	color: #FFF !important;
}