.Element-space-between{
    margin-bottom: 25px;
}
.Metric-green, .Metric-red{
    float: right;
}
.Metric-green {
    color: green;
}
.Metric-red {
    color: red;
}
.container-application{
    padding: 25px 50px;
}
.Complexity-text{
    margin-left: 15px;
}